* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.full {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0c27;
}

.wrapper .doodle {
  width: min(70vh, 70vw);
  height: min(70vh, 70vw);
}
